Flask==2.2.5
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-CORS==4.0.0
Flask-MongoEngine==1.0.0
python-dotenv==1.0.0
requests==2.31.0
SQLAlchemy==2.0.23
Werkzeug==2.3.7
gunicorn==21.2.0
pymongo==4.6.1 